header.jumbotron

-homelink = JSON.stringify(homelink)

button(class="h2 large-link-button", onclick="addInventory()").
    List my products from #{current_shop} on kipsearch for free
script.
    function addInventory() {
    window.location.href = '/add'
    }  
div.row
    div.span3
        div.accordion#accordion     
        - if (typeof(products[0]) == 'undefined')
            div.accordion-group
                div.accordion-heading
                    em Glups, you don't have any product to be shown!
        - else
            - each product, i in products
                div.accordion-group
                    div.accordion-heading
                    a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="##{product.id}")
                        |#{product.title} 
                        span.pull-right.muted #{product.price_range}          
                div(id="#{product.id}", class="accordion-body collapse")
                    div.accordion-inner
                    - if(product.images)
                        - if(product.images.first)
                            div.polaroid
                            a(href="#modal-#{product.id}", data-toggle="modal")
                                    img(src="#{product.images.first.medium}")

                    p
                        strong Type: 
                        | #{product.product_type}

                    p !{product.body_html}
                    
                    br

                    div(id="#modal-#{product.id}", class="modal hide fade", style="display:none")
                        div.modal-header
                            a.close(data-dismiss="modal") ×
                            h3=product.title
                        div.modal-body
        div(style="position:fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);")
            button(class="link-button",onclick="shopify()").
                Return to Shopify
            script.
                function shopify() {
                var url = !{homelink};
                window.location.href = url;
                } 
